body{

    background-color:#00b3e6 ;
}

.vin{
    width:700px;
    margin: auto;
    font-family:Helvetica Neue;
    background:#ffff ;
    padding:30px;

}

#main-header{
    font-size:22px;
}

.perspective-questions{
    font-style:italic;
}